@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Raleway:wght@300&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

/*========================================= CARRITO =========================================*/

#contCarrito{
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-radius: 5%;
    border-width: 1px;
    height: 400px;
    width: 100%;
    padding-bottom: 2rem;
}

.height-auto{
    height: auto !important;
}

#total{
    font-size: 25px;
}

#totalNum{
    font-size: 45px;
    font-weight: bold;
}

#btnComprar{
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition: .3s;
}

#btnComprar:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition-duration: 300ms;
}

#btnComprar:focus{
    box-shadow: none;
}

div i{
    font-size: 20px;
}

.btnLargo{
    width: 100%;
    border-style: solid;
    border-radius: 0%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3)
}

.btnLargo:hover{
    border-radius: 0%;
    border-style: solid;
    border-width: 2px;
    border-color: brown;
    transition-duration: 200ms;
}

.btnLargo:focus{
    box-shadow: none;
}

.prodAgregados{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    /*border-color: tomato;*/
    border-style: solid;
    /*background-color: red;*/
    color: white;
    font-weight: bold;
}

.img-top{
    cursor: pointer !important;
}

.display-none{
    display: none !important;
}

/*Clases para toast*/
.swal2-actions{
    display: none !important;
}

#swal2-title{
    font-family: sans-serif;
}

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right{
    top: 7vh !important;
}

/*FUNCION PAGAR*/

.cont-icons-pago{
    display: flex;
    justify-content: center;
}

.marco-icono-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 90px;
    cursor: pointer;
    transition: .3s;
    
}

.marco-icono-carrito img {
    width: 64px !important;
}

.marco-icono-carrito:hover{
    background-color: rgba(161, 0, 0, 0.5);
}

#titulo-pago{
    font-size: 1.2rem;
}

.opacity-uno{
    opacity: 1 !important;
}

#cont-datos{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.input-pago{
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 3px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
}

.span-input-pago{
    background-color:  #680101;
    border-radius: 30px;
    margin-left: 2rem;
    padding: 2px;
    width: 80%;
}

.input-pago::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#comprar-btn-final{
    margin-top: 1.3rem;
    width: 45% !important;
    margin-left: 6rem;
}

#total-pago-ticket{
    font-family: "Heebo";
    font-weight: bolder;
    color: #680101;
}

#titulo-final-ticket{
    font-family: "Staatliches";
    font-size: 1.5rem;
}

.flex-column-ticket{
    display: flex;
    flex-direction: column;
}

.bolder{
    font-weight: bolder;
}

#cont-ticket-final .precio {
    font-size: 1.2rem;
}

#volver-ticket{
    margin-top: 1.2rem;
}








