@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Raleway:wght@300&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#seccion-contacto{
    display: flex;
    width: 100%;
    background-color:rgba(200, 200, 200, 0.2);
    justify-content: center;
    padding-bottom: 3rem;
}

.titulo-tiendas{
    padding-top: 2rem;
    font-size: 2rem;
    background-color:rgba(200, 200, 200, 0.2);
    font-family: "Merriweather Sans";
}

.carousel-caption{
    background-color:rgba(0, 0, 0, 0.5);
}