@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Raleway:wght@300&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none; 
  }

#main-container{
    position: absolute;
    top: 7%;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    
}

#container{
    width: 100%;
    transition: all .5s;
}

#row-container{
    width: 100%;
}

/*Fuentes*/

.merriweather{
    font-family: "Merriweather Sans";
}

.raleway{
    font-family: "Raleway";
}

.heebo{
    font-family: "Heebo";
}

#carrito{
    font-family: Merriweather Sans;
    font-size: 45px;
}

#lista{
    font-family: Merriweather Sans;
    font-size: 25px;
}

#prod{
    font-family: Raleway;
    font-size: 25px;
}

/*============== HEADER PRESENTACION ===============*/

.fondo{
    position: absolute;
    background-image: url("../imgs/fondoPrincipal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#titulo{
    font-family: "Staatliches";
    font-size: 4.5rem;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
}

#titulo .weight-normal{
    font-weight: lighter;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    z-index: 5;
    transform: translate(-50%, -50%);
    border-color: white;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}


#seccion-lista-carrito{
    margin-bottom: 15vh;
}

/*Seccion About*/
#titulo-paratexto{
    font-family: "Merriweather Sans";
    font-size: 40px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);

}

#paratexto{
    font-family: "Raleway";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#seccion-about{
    background-image: url("../imgs-tienda/cuatro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 70vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -20;
}

/*Seccion Footer*/
#seccion-footer{
    height: auto;
    padding-bottom: 1rem;
    background: #300000;
}

#img-footer{
    height: 25vh;
    margin-left: -1rem;
}

.cont-logo-footer{
    color: white;
    font-family: "Staatliches";
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.dflex-justify-align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#seccion-footer .titulo{
    font-family: "Staatliches";
    font-size: 1.7rem;
    color: white;
}

#seccion-footer i{
    cursor: pointer;
}

.div-input-newsletter{
    background-color:  #680101;
    border-radius: 30px;
    padding: 5px;
    width: 80%;
}

.input-newsletter{
    margin-left: 10px;
    border: none;
    background: none;
    outline: none;
    padding: 3px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
}

.input-newsletter::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#copy{
    margin-top: -1rem;
    color: rgba(255, 255, 255, 0.5);
}

.boton-sub{
    margin-top: 1rem;
    color: white;
    background-color: rgb(0, 38, 48);
    transition: .5s;
    border-radius: 20px;
}

.boton-sub:hover{
    color: wheat;
    background-color: rgb(0, 61, 43) !important;
}

/*Seccion Tiendas*/

#seccion-contacto{
    display: flex;
    width: 100%;
    background-color:rgba(200, 200, 200, 0.2);
    justify-content: center;
    padding-bottom: 3rem;
}

.titulo-tiendas{
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Merriweather Sans";
}

.carousel-caption{
    background-color:rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 993px) {
    #seccion-footer > .row > div{
        padding-bottom: 1rem;
    }

    #copy{
        padding-top: 1rem;
    }
    
    .lista-carrito{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #contLista{
        margin-right: 0 !important;
    }

    #contCarrito{
        margin-top: 1rem;
        margin-left: 0 !important;
    }

    #seccion-filtros{
        display: flex;
        justify-content: center;
    }

    #seccion-filtros > .mt-3{
        margin: 0 !important;
    }

    #seccion-about{
        height: auto;
        padding-top: 2rem;
    }

    

    .sidebar{
        right: -350px !important;
    }

    .cont-brightmode{
        width: 137% !important;
        height: 140% !important;
    }

    #ventana-modal{
        width: 30rem !important;
    }
}



