/*Contenedor principal para transición de modo*/
.cont-brightmode{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.opacityUno{
    opacity: 1 !important;
}

/*Colores para el contenedor principal*/
.luna{
    opacity: 0;
    background-color: #151515;
    z-index: 1000;
}

.sol{
    opacity: 0;
    z-index: 1000;
    background-color:rgb(241, 241, 241);

}

/*Clase mayor en la piramide de dependencia*/
/*Debido a que es asignada al body, todo lo que se encuentre dentro de él pasará a Night-Mode*/
.body-night{
    color: white;
}

/*Clases para elementos dentro del body*/
.body-night .catalogo-carrito{
    background-color: #151515;

}

.body-night .card{
    background-color: rgb(61, 61, 61) !important;
    border-color: rgba(255, 254, 254, 0.2);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2) !important;
}

.body-night .card img{
    box-shadow: none !important;
    background-color: rgba(255, 254, 254, 0) !important;
}

.body-night .btnAgregar{
    border-color: rgba(255, 254, 254, 0.5) !important;
    color: white !important;
}

.body-night .btnAgregar:hover{
    border-color: brown !important;
}

.body-night .btnAgregar:hover i{
    color: brown !important;
}

.body-night .listaBtn{
    color: white;
    border-color: rgba(255, 255, 255, 0.61);
}

.body-night .modal-content{
    background-color: rgb(61, 61, 61) !important;
    border-color: rgba(255, 254, 254, 0.2);
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2) !important;
}

.body-night #contLista{
    border-color: rgba(255, 254, 254, 0.5) !important;
    color: white !important;
}

.body-night #contCarrito{
    border-color: rgba(255, 254, 254, 0.5) !important;
    color: white !important;
}

.body-night #seccion-contacto{
    background-color: #151515 !important;
}

.body-night #btnComprar{
    border-color: rgba(255, 254, 254, 0.5) !important;
    color: white !important;
}

.body-night .marco-icono-carrito{
    border-color: rgba(255, 254, 254, 0.5) !important;
    color: white !important;
}

.body-night .swal2-popup{
    background-color: #272727 !important;
    color: white !important;
}

.body-night .swal2-content{
    color: #ffffff8f;
}

.body-night .swal2-popup.swal2-toast{
    color: white !important;
    background-color: rgb(61, 61, 61) !important;
}


.body-night .swal2-title{
    color: white !important;
}

